@import '/../../../../css/utils';
@import '/../../../../css/globals';

body{
    
    main {
        
        .share-buttons {
            .transition(.25s);
            #bpsn-social-share-buttons {
                a.bpsn-link {
                    line-height: 31px;
                    text-decoration: none;
                }
                a.bpsn-link:hover {
                    text-decoration: none;
                }
            }
        }
        
        .share-buttons.insite {
            #bpsn-social-share-buttons {
                a.bpsn-link {
                    background: @bc !important;
                }
                a.bpsn-link:hover {
                    background: @ab !important;
                }
            }
        }
        
        .share-buttons.round {
            #bpsn-social-share-buttons {
                a.bpsn-link {
                    width: 42px;
                    height: 42px;
                    border-radius: 21px;
                    line-height: 44px;
                }
            }
        }
        
    }
    
}

@media (min-width: 1361px) and (max-width: 1500px) {
    
    body{
        
        main{

        }
        
    }
    
}

@media (min-width: 1200px) and (max-width: 1360px) {
    
    body {
        
        main {

        }
        
    }
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    
    body {
        
        main {

        }
        
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
    body{
        
        main {
                        
        }
        
    }
    
}

@media (min-width: 768px) and (max-width: 800px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 767.98px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 575px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 480px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 380px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 320px) {
    
    body{
        
        main {

        }
        
    }
    
}