@import '/../../../../css/utils';
@import '/../../../../css/globals';

body{
    
    main {
        .section.article{
            .content-title{
                h2{
                    text-align: center;
                    margin: 0% 0px 5% 0px;
                }
            }
            .content-img{
                text-align: center;
                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    max-height: 600px;
                }
            }
            p{
                margin-top: 3rem;
                margin-bottom: 4rem;
            }
        }
        
    }
    
}

@media (min-width: 1361px) and (max-width: 1500px) {
    
    body{
        
        main{

        }
        
    }
    
}

@media (min-width: 1200px) and (max-width: 1360px) {
    
    body {
        
        main {

        }
        
    }
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    
    body {
        
        main {

        }
        
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
    body{
        
        main {
                        
        }
        
    }
    
}

@media (min-width: 768px) and (max-width: 800px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 767.98px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 575px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 480px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 380px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 320px) {
    
    body{
        
        main {

        }
        
    }
    
}