@import '/../../../../css/utils';
@import '/../../../../css/globals';

body{
    
    main {  
        #realisations{
            .introduction{
                h2{
                    text-align: center;
                    margin-top: 4rem;
                    color:@black;
                }
                p{
                    text-align: center;
                    max-width: 600px;
                    margin-left: auto!important;
                    margin-right: auto!important;
                    color: @de;
                    margin-bottom: 5rem;
                }
            }
            .grid-gallery{
                
                .realisation{
                    display: inline-block;
                    transform: scale(0.95);  
                    img{
                        height: 360px;
                    }
                }

                .overlay-gallery{
                        position: absolute;
                        background: #b78f7dab;
                        width: 100%;
                        height:100%;
                        top: 0;
                        opacity: 0;
                        &:hover{
                            opacity: 1;
                        }
                        .categorie{
                            color: #ffffff94;
                            position: absolute;
                            bottom: 23px;
                            left: 25px;
                            font-family: 'montserrat', sans-serif;
                            text-transform: uppercase;
                            font-size: 12px;
                            
                        }
                        .intitule{
                            color:@white;
                            position: absolute;
                            bottom: 49px;
                            left: 25px;
                            font-family: 'montserrat',sans-serif;
                            font-weight: 400;
                            font-size: 17px;
                        }
                }
            }
            .categories{
                margin-bottom: 2.5rem;
                text-align: center;
                button{
                    background: transparent;
                    border: none;
                    text-transform: uppercase;
                    font-family: 'montserrat',sans-serif;
                    font-size: 14px;
                    letter-spacing: 1px;
                    padding: 0% 2%;
                    font-weight: 500;
                    &:focus{
                        outline: none;
                        font-weight: 600;
                        color:@bc
                    }
                }

            }
            .la-pagination{
                margin-top: 1.5rem;
                a{
                    text-align: center;
                    color: @black;
                    letter-spacing: 1px;
                    font-size: 14px;
                    font-weight: 700;
                    border-bottom: 3px solid @bc;
                    text-decoration: none;
                    &:hover{
                        color:@bc;
                        border-bottom: 3px solid @black;
                    }
                }
            }
            .scroller-status{
                text-align: center;
                opacity: 0;
                margin-bottom: 3rem;
            }
         
       }
        
    }
    
}

@media (min-width: 1361px) and (max-width: 1500px) {
    
    body{
        
        main{
            
        }
        
    }
    
}

@media (min-width: 1200px) and (max-width: 1360px) {
    
    body {
        
        main {

            .section.gallery {
                .img-gallery {
                    > .picture {
                        > .img {
                            height: 280px;
                        }
                    }
                }
            }
            
        }
        
    }
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    
    body {
        
        main {

            .section.gallery {
                .img-gallery {
                    > .picture {
                        > .img {
                            height: 250px;
                        }
                    }
                }
            }
            
        }
        
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
    body{
        
        main {
            
            .section.gallery {
                .img-gallery {
                    > .picture {
                        width: calc(~'33.33% - 20px');
                        > .img {
                            height: 270px;
                        }
                    }
                    > .picture.down {
                        transform: translateY(0);
                    }
                }
            }
            
        }
        
    }
    
}

@media (min-width: 768px) and (max-width: 800px) {
    
    body{
        
        main {

            .section.gallery {
                .img-gallery {
                    > .picture {
                        width: calc(~'33.33% - 20px');
                        > .img {
                            height: 240px;
                        }
                    }
                }
            }
            
        }
        
    }
    
}

@media (max-width: 767.98px) {
    
    body{
        
        main {

            .section.gallery {
                .img-gallery {
                    > .picture {
                        width: calc(~'50% - 20px');
                        > .img {
                            height: 320px;
                        }
                    }
                }
            }
            
        }
        
    }
    
}

@media (max-width: 640px) {
    
    body{
        
        main {

            .section.gallery {
                .img-gallery {
                    > .picture {
                        width: calc(~'50% - 20px');
                        > .img {
                            height: 290px;
                        }
                    }
                }
            }
            
        }
        
    }
    
}

@media (max-width: 575px) {
    
    body{
        
        main {

            .section.gallery {
                .img-gallery {
                    > .picture {
                        width: calc(~'50% - 20px');
                        > .img {
                            height: 250px;
                        }
                    }
                }
            }
            
        }
        
    }
    
}

@media (max-width: 500px) {
    
    body{
        
        main {

            .section.gallery {
                .img-gallery {
                    > .picture {
                        width: calc(~'50% - 20px');
                        > .img {
                            height: 230px;
                        }
                    }
                }
            }
            
        }
        
    }
    
}

@media (max-width: 480px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 440px) {
    
    body{
        
        main {

            .section.gallery {
                .img-gallery {
                    > .picture {
                        width: calc(~'50% - 20px');
                        > .img {
                            height: 190px;
                        }
                    }
                }
            }
            
        }
        
    }
    
}

@media (max-width: 380px) {
    
    body{
        
        main {

            .section.gallery {
                .img-gallery {
                    > .picture {
                        width: calc(~'100% - 20px');
                        > .img {
                            height: 280px;
                        }
                    }
                    > .picture.down {
                        transform: translateY(0);
                    }
                }
            }
            
        }
        
    }
    
}

@media (max-width: 320px) {
    
    body{
        
        main {

            .section.gallery {
                .img-gallery {
                    > .picture {
                        width: calc(~'100% - 20px');
                        > .img {
                            height: 250px;
                        }
                    }
                }
            }
            
        }
        
    }
    
}

@media (max-width: 280px) {
    
    body{
        
        main {

            .section.gallery {
                .img-gallery {
                    > .picture {
                        width: calc(~'100% - 20px');
                        > .img {
                            height: 230px;
                        }
                    }
                }
            }
            
        }
        
    }
    
}