@import '/../../../../css/utils';
@import '/../../../../css/globals';

body{
    
    main {
        .section.topslider {
           

            height: 100%;
            .transition(.25s);
            
            .container, .row {
                position: relative;
                height: 100%;
            }
            .the-slider {
                position: relative;
                height: 100%;
                overflow: hidden;
                > .swiper-container {
                    .transition(.25s);
                    display: block;
                    position: relative;
                    width: 100%;
                    > .swiper-wrapper {
                        > .swiper-slide {
                            .transition(.25s);
                            display: block;
                            position: relative;
                            width: 100%;
                            > .img {
                                .transition(.25s);
                                display: block;
                                position: relative;
                                width: 100%;
                                height: 100%;
                                overflow: hidden;
                                > img {
                                    .transition(.25s);
                                }
                            }
                            > .img:hover {
                                > img {
                                    .agrandir(1.1,1.1);
                                }
                            }
                            > .data {
                                .transition(.25s);
                                display: block;
                                position: absolute;
                                width: 40%;
                                height: 60%;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                padding-left: 24px;
                                padding-right: 24px;
                                overflow: hidden;
                                > img {
                                    .transition(.25s);
                                }
                                > .overlay {
                                    .transition(.5s);
                                    display: block;
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    background: @black;
                                    background: fade(@black, 75%);
                                    opacity: 0;
                                }
                                > .content {
                                    .transition(.25s);
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    > h1,
                                    > h2 {
                                        .transition(.25s);
                                        color: @white;
                                        font-weight: 700;
                                        text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
                                        > span {
                                            .transition(.25s);
                                            display: block;
                                            position: relative;
                                            clear: both;
                                            font-weight: 400;
                                            font-size: 75%;
                                        }
                                    }
                                    > .tbtn {
                                        .transition(.25s);
                                        display: block;
                                        position: relative;
                                        margin-bottom: 0;
                                        margin-top: 12px;
                                        > a {
                                            .transition(.5s);
                                            display: inline-block;
                                            position: relative;
                                            padding: 10px 24px;
                                            border: solid 1px @white;
                                            color: @white;
                                            text-transform: uppercase;
                                            text-decoration: none;
                                            letter-spacing: 0.06em;
                                            font-size: @textfontsize*.85;
                                        }
                                        > a:hover {
                                            background: @bc;
                                            border: solid 1px @ab;
                                            color: @black;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                            > .data:hover {
                                > img {
                                    .agrandir(1.1,1.1);
                                }
                                > .overlay {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                
            }
            .swiper-button-prev, .swiper-button-next{
                right: 0px;
                top: 97%;
                background: black;
                color: white;
                padding: 26px 0px;
                width: 64px;
                font-size: 4px;
                left: auto;
                &::after{
                    font-size: 8px;
                }
            }
            .swiper-button-prev{
                right: 64px !important;
                &:hover{
                    background-color: @blacklt;
                }
                
            }
            .swiper-button-next{
                top: 102.4%;
                background: @bc-dk;
                &:hover{
                    background-color: @bc;
                }
            }
            .img-line{
                position: absolute;
                right: 0;
                z-index: 1;
                top: 57rem;
            }
        } 

        .topslider-content-text{
            position: absolute;
            background-color: #1e1e1ee8;
            max-width: 750px;
            z-index: 2;
            padding: 3% 4% 3% 4%;   
            top: 50%;
            transform: translateY(-50%);
            left: 11%;
            h1{
                color:@white;
                font-size: 40px;
                line-height: 53px;
            }
            h2{
                color:#c686636b;
                font-size: 17px!important;
                margin-bottom: 30px;
                font-family: 'montserrat', sans-serif;
            }
            p{
                color: @white;
                font-size: 14px;
                margin-top: 26px;
                line-height: 26px;
                padding-right: 82px;
            }
            a{
                background-color: @bc;
                color: @white;  
            }
            .btn-first{
                padding: 13px 24px;
                background-color: @ef;
                &:hover{
                    background-color: @ef-dk;
                    color:@white;
                }
            }
            .btn-second{
                background-color: @bc;
                &:hover{
                    background-color: @bc-dk;
                    color:@white;
                }
            }

            
        }

        .top-slider-sub-content-imgs{
            margin-top: -4%;
            z-index: 2;
            img{
                margin-left: 0.75rem;
                margin-right: 0.75rem;
            }

        }
    }
    
}

@media (min-width: 1361px) and (max-width: 1500px) {
    
    body{
        
        main{

        }
        
    }
    
}

@media (min-width: 1200px) and (max-width: 1360px) {
    
    body {
        
        main {

        }
        
    }
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    
    body {
        
        main {
            .the-slider {
               width: 100%!important;
               
            }
            .topslider-content-text{
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                -webkit-transform: translate(-50%, -50%);
                h2{
                    text-align: center;
                    font-family: 'montserrat', sans-serif!important;
                }
            }
            .swiper-button-prev, .swiper-button-next{
                display: none;
            }
            
            h1{
                text-align: center;
            }
            p{
                text-align: center;
                padding-right: 0px
            }
            .btn-content{
                justify-content: center!important;
            }
        }
        
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
    body{
        
        main {
                        
        }
        
    }
    
}

@media (min-width: 768px) and (max-width: 800px) {
    
    body{
        
        main {

        }
        
    }
    
}


@media (max-width: 991.98px) {
    
    body{
        
        main {
            .swiper-container {
                max-height: 700px;
            }
            .topslider-content-text{
                max-width: none;
                left: 0;
                height: 100%;
                h2{
                    text-align: center;
                }
                h1{
                    text-align: center;
                }
                p{
                    text-align: center;
                    padding-right: 0px
                }
                .btn-content{
                    justify-content: center!important;
                    a{
                        margin-bottom: 20px;
                    }
                }
            }
            .top-slider-sub-content-imgs{
                display: none;
                
            }
            .swiper-button-prev, .swiper-button-next{
                display: none;
            }
            .img-line{
                display: none;
            }
        }
        
    }
    
}

@media (max-width: 767.98px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 575px) {
    
body{
    
    main {
        
            .topslider-content-text{
                a{
                    width: 100%;
                }
            }
      
        }
        
    }
    
}
  

@media (max-width: 480px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 380px) {
    
    body{
        
        main {

        }
        
    }
    
}

@media (max-width: 320px) {
    
    body{
        
        main {

        }
        
    }
    
}